<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for massage in messages %}
            {{ massage }}
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="password" name="password" placeholder="password"><br>
         {% if errors.password %}
            <small style="color:red;">{{ errors.password }}</small>
        {% endif %}

        <br>
        <input type="password" name="confirm_password" placeholder="confirm_password"><br>
        {% if errors.confirm_password %}
            <small style="color:red;">{{ errors.confirm_password }}</small>
        {% endif %}

        <br>
        <button type="submit">login</button>
    </form>
</body>
</html>